@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    font-family:Outfit;
}

@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}
a.active hr{
    display: block;
    border-bottom: 2px solid black;
    width: 30px;
    
    
}
.drop-down-menu{
    display: none;
}
.drop-down-menu:hover{
    display: block;
}

@media (width<647px) {
    a.active  {
        background-color: black;
        color: white;
        
    }
    
}